//Variables

// $brand-dark: rgba(39, 69, 85, 1);
$brand-dark: #274555;
$brand-pink: #FF5F6D;
$brand-darkpink: #D14752;;
$brand-orange: #FFC371;
$brand-darkorange: #EFB566;
$brand-grey: #EEF7f8;

$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$hover-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

//Helper
.brand-pink {
	color: $brand-pink;
}
.brand-dark {
	color: $brand-dark;
}
.brand-darkorange {
	color: $brand-darkorange;
}

body {
	background: $brand-grey;
	padding-bottom: 3em;
}

//Nav
.my-navbar {
	background: #FFF;
	padding: 1em 0;
}

.nav-brand {
	font-size: 24px;
	font-weight: bold;
	color: $brand-pink;
}
.nav-brand:hover {
	color: #d14752;
	text-decoration: none;
}

.secondary-cta {
	color: $brand-orange;
	border-color: $brand-orange;
}
.secondary-cta:hover {
	color: $brand-dark;
}

//Upper half
.section-container {
	padding: 2em 0;
	background: #FF5F6D;  // Fall back for old browsers
	background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);
	background: linear-gradient(to left, #FFC371, #FF5F6D);
}

#main-header {
	font-size: 60px;
	color: #FFF;
}

#sub-header {
	color: #FFF;
	font-weight: lighter;
	line-height: 1.5;
}

.main-cta {
	padding: .7rem 1.5rem;
	margin-top: 1em;
	border-width: 2px;
	font-size: 24px;
}

//Lower half

.section-header {
	color: $brand-dark;
	font-weight: 300;
	margin: 1em;
}

.index-nothing {
	color: rgba(39, 69, 85, 0.5);
	font-weight: bold;
	text-align: center;
}

.index-card {
	border: none;
	height: 250px;
	margin-bottom: 2em;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.index-card:hover {
	-webkit-box-shadow: $hover-shadow;
	-moz-box-shadow: $hover-shadow;
  box-shadow: $hover-shadow;
}

.card-img {
	display: inline-block;
	height: 75px;
	width: 75px;
	border-radius: 75px;
	border: 2px solid rgba(39, 69, 85, 0.5);
	margin-bottom: 1em;
}

.card-title {
	font-weight: bold;
	color: $brand-dark;
	text-decoration: none !important;
}

.card-link {
	text-decoration: none;
}

.avg-rating-index {
	padding: 10px;
	background-color: $brand-pink;
	border-radius: .25rem;
	color: #FFF;
	line-height: 0.9;
}

.total-reviews-index {
	color: rgba(39, 69, 85, 0.6);
}

//New page styling

.new-card {
	margin-top: 1.5em;
	overflow: hidden;
	border: none;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

.suggestion-card {
	text-align: center;
	margin-top: 1.5em;
	border: 2px solid rgba(39, 69, 85, 0.3);
	background: #c5d6d8;
	color: rgba(39, 69, 85, 0.5);
	font-weight: 600;
}

.new-card-body {
	padding: 0;
}

.new-card-grad {
	height: 7px;
	background: #FF5F6D;  // Fall back for old browsers
	background: -webkit-linear-gradient(to left, #FFC371, #FF5F6D);
	background: linear-gradient(to left, #FFC371, #FF5F6D); ;
}

.inner-padding {
	padding: 1.5rem 1.25rem;
}

.new-header {
	color: $brand-pink;
	margin-bottom: 0.5em;
}

.new-formgroup > label {
	color: $brand-dark;
}

.find-btn, .find-btn:active, .find-btn:focus {
	background: $brand-pink;
	border-color: $brand-pink;
}
.find-btn:hover {
	background: $brand-darkpink;
	border-color: $brand-darkpink;
}

//Show page styling

.please-wait-card {
	margin-top: 1em;
}

.show-info-container {
	color: $brand-dark;
}

.show-info-group {
	margin: 1em 3em 1em 0;
}
.show-info-group > div {
	color: rgba(39, 69, 85, 0.7);
}
.show-info-group > strong {
	color: $brand-pink;
}

.fa.fa-ban {
	display: inline-block;
	margin-right: 0.2em;
}

.delete-btn {
	margin-top: 2em;
	font-size: 12px;
}

//Reviews styling

.reviews-header {
	margin: 1em 0 0;
}

.review {
	padding: 1.2rem;
	border: 2px solid rgba(0,0,0,.2);
	border-radius: .25rem;
	margin-bottom: 1em;
}

.review-avatar {
	height: 35px;
	width: 35px;
	border-radius: 35px;
	margin-right: 0.5em;
}

.review-header-group > strong {
	color: $brand-pink;
}

.review-date {
	font-size: 14px;
	color: rgba(39, 69, 85, 0.7);
}

.review-header {
	margin: 1em 0 0.7em;
}

.review-type {
	background: $brand-pink;
	color: #FFF;
	display: inline-block;
	margin: 0.5em 0 0.5em;
	border-radius: 0.25rem;
	font-size: 12px;
	padding: 5px 7px;
}
